{% extends "medicine_app/base.html" %}
{% block content %}
    <div class="row">
            <div class="col-3 orders">
                <div class="card" style="width: 17rem;">
                        <img class="card-img-top medicine" src="{{details.photo.url}}" alt="Card image cap" >
                    <div class="card-body">
                          <h5 class="card-title">{{details.name}}</h5>  <!-- DoriNomi -->
                          <h6>Price: {{ details.price }}</h6>  <!-- DoriNomi narxi -->
                          <h6>Existence: {% if details.available == True %} <span style="color:green"> Есть в наличии </span>{% else %} <span style="color: red"> Нет в наличии </span> {% endif %}</h6>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Quantity</span>
                            </div>
                            <input type="number" class="form-control" placeholder="Username" aria-label="Username" 
                            aria-describedby="basic-addon1" value="1">
                        </div>
                        <a href="#" class="btn btn-success">Add to cart</a>
                    </div>
                </div>
            </div>
        <div class="col-8 orders">
            <div class="jumbotron">
                <h3 class="display-6">Description</h3>
                <p class="lead">{{ details.description }}</p>                
            </div>
        </div>
    </div>
{% endblock %}