<<<<<<< HEAD
{% extends 'medicine_app/base.html' %}
=======
{% extends "medicine_app/base.html" %}
{% block content %}

    <div class="d-flex flex-wrap" style="margin: 5px">
            {% for medicine in access_record %}
            
            <div class="card" style="width: 16rem; margin: 5px">
              
                <img src="{{ medicine.photo.url }}" class="card-img-top" alt="..." height="150px">
                    <div class="card-body">
                        <a href="{% url 'medicine_app:detail' pk=medicine.pk %}" class="card-title">{{medicine.name}}</a>
                        <h6>{{medicine.price}} сум</h6>
                    </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}
>>>>>>> 327daf35b2d0513c826944c9ff5bbc4dd0464486
