{% extends 'medicine_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="content-section">
  <form class="" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Login   </button>
      <div class="border-top pt-3">
        <small class="text-muted">Need an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a></small>

      </div>
    </div>
  </form>
</div>
{% endblock content %}
